<%- include ('partials/top') %>
      <main class="col-lg-10" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="row space text-white">
          <div class="col-12 d-flex justify-content-between align-items-center underline pb-2">
            <h3 class="title">Categories</h3>
            <div>
              <a href="/categories/new" class="btn btn-success">Create New Category</a>
            </div>
          </div>

        </div>

        <div class="row space" style="background-color: rgba(0, 0, 0, 0.4);">
          <div class="col-12">
            <table class="table table-bordered table-striped">
              <thead class="text-white" style="background-color: rgba(100, 100, 100, 0.5);">
                <tr>
                  <td>Category ID</td>
                  <td>Category Name</td>
                  <td>Actions</td>
                </tr>
              </thead>
              <tbody class="text-white">
                <% categories.forEach( (c, index) => { %>
                  <tr>
                    <td><%= c._id%></td>
                    <td><%= c.title %></td>
                    <td>
                      <a href="/categories" class="btn btn-sm btn-primary">View Books</a>
                      <a href=<%="/categories/remove/" + c._id%> class="btn btn-sm btn-danger">Delete</a>
                    </td>
                  </tr>
                <% } ) %>        
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>

    </div>
    

<%- include ('partials/bottom') %>